# --extra-index-url https://download.pytorch.org/whl/cu130
fastapi
uvicorn[standard]
python-dotenv
pydantic
openai
requests
faiss-cpu
langchain==0.3.27 
langgraph==0.4.8 
langchain_openai==0.3.19 
langchain-community==0.3.30
rank_bm25>=0.2.2
jinja2>=3.1.0
tqdm
protobuf<4.0.0,>=3.19.4
numpy
krwordrank
kiwipiepy==0.22.1
huggingface_hub
torch
transformers==4.57.0
sentence-transformers>=2.7.0
accelerate
bitsandbytes 
FlagEmbedding
# flash-attn @ https://github.com/mjun0812/flash-attention-prebuild-wheels/releases/download/v0.4.22/flash_attn-2.8.1+cu130torch2.9-cp311-cp311-linux_x86_64.whl